<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>PolicyMaker Page</title>
<link rel="stylesheet" type="text/css"
     href="css/agrnomistReportDetailPage.css" th:href="@{/css/agrnomistReportDetailPage.css}" title="Default Styles" media="screen">
</head>
<body>
<div id="top_div">
Report of <label th:text="${report.name}"></label> about <label th:text ="${report.farmer.email}"></label>
</div>
<div id="problem_div">
Problem : <label th:text="${report.details}"></label>
</div>
<div id="score_div">
Before the intervention of the Agronomist:
<tr th:each="b: ${beforeList}">
    <td> Prodotto <label th:text="${b.product}" /></label> </td>
    <td> Score <label th:text="${b.ranking.score}" /></label> </td>
</tr>
After the intervention of the Agronomist:
<tr th:each="a: ${afterList}">
    <td> Prodotto <label th:text="${a.product}" /></label> </td>
    <td> Score <label th:text="${a.ranking.score}" /></label> </td>
</tr>
</div>
</body>